@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.monomaniac-one-regular {
  font-family: "Monomaniac One", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Yerk";
  src: url("/fonts/yerk.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
